@use "UI/_CommonStyles" as *;

.app-header-wrapper {
  > header {
    position: fixed;
    top: 0;
    z-index: $z-index-header;
    width: 100%;

    height: $header-height;
    background-color: $color-header-bg;
    border-bottom: $border-width-xs solid $color-border;

    transition: transform #{$animation-duration-sm}s ease;

    &.hidden {
      transform: translateY(-100%);
    }

    > .container {
      height: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }

    .brand {
      @include brand-with-icon;
    }

    nav {
      display: none;

      @include vw(lg) {
        display: flex;
        gap: 2.5em;
      }

      > a {
        @include label-text;
      }
    }

    .mantine-Burger-root {
      @include vw(lg) {
        display: none;
      }
    }
  }
}

.app-header-drawer {
  .mantine-Drawer-header {
    padding-top: 0.3em;
  }

  .mantine-Drawer-title {
    @include brand-with-icon;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    > a {
      @include label-text;
    }
  }
}
