@use "UI/_CommonStyles" as *;

.app-footer {
  > .container {
    border-top: $border-width-xs solid $color-border;
    padding-block: $section-block-padding;

    display: flex;
    flex-direction: column;
    gap: 2em;

    @include vw(md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 0.75em;

      font-size: $font-size-xxs;

      &:last-child {
        @include vw(md) {
          text-align: right;
        }
      }
    }
  }

  .brand {
    @include brand-with-icon;
  }

  .company {
    color: $color-heading;
    font-weight: 600;
  }
}
