@use "colors" as *;
@use "numbers" as *;

@mixin vw($size) {
  @if $size == xxl {
    @media (min-width: #{$vw-xxl}) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: #{$vw-xl}) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: #{$vw-lg}) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: #{$vw-md}) {
      @content;
    }
  } @else if $size == sm {
    @media (max-width: #{$vw-md}) {
      @content;
    }
  }
}

@mixin label-text {
  color: $color-label;
  font-size: $font-size-label;
  font-weight: 600;
  letter-spacing: $letter-spacing-label;
  text-transform: uppercase;
}
