@use "UI/_CommonStyles" as *;

.page.landing > main {
  > section > .container {
    padding-block: $section-block-padding;

    @include vw(lg) {
      padding-block: $section-block-padding-lg;
    }
  }

  > section:not(:last-of-type) > .container {
    border-bottom: $border-width-xs solid $color-border;
  }

  h1,
  h2,
  p {
    max-width: calc(($vw-md + $vw-lg) / 2); // Better readibility on large screens
  }

  h1 + p {
    margin-top: 2.4em;
  }

  h2 + p {
    margin-top: 1.8em;
  }

  .separator {
    margin-inline: 0.25em;
  }

  #hero > .container {
    > h1,
    > p {
      text-align: center;
      margin-inline: auto;
    }
  }

  #process ul {
    display: grid;
    gap: 1.5em;
    margin-top: 3.5em;

    @include vw(md) {
      grid-template-columns: 1fr 1fr;
    }

    > li {
      display: flex;
      flex-direction: column;
      gap: 1em;

      background-color: $color-offset-bg;
      border: $border-width-xs solid $color-border;
      border-radius: $border-radius-lg;
      padding: 1.75em 1.5em;

      > svg {
        color: $color-brand;
        margin-left: -2px;
      }

      > p {
        margin-bottom: 0;
      }
    }
  }
}
